﻿@model Isi2.Projekt.Web.Models.ChangePasswordModel

@{
    ViewBag.Title = "Zmień hasło";
}

<h2>Zmień hasło</h2>
<p>
    Użyj poniższego formularza, aby zmienić hasło. 
</p>
<p>
    Nowe hasła muszą zawierać co najmniej następującą liczbę znaków: @Membership.MinRequiredPasswordLength.
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Zmiana hasła nie powiodła się. Popraw błędy i spróbuj ponownie.")
    <div>
        <fieldset>
            <legend>Informacje o koncie</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.OldPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <p>
                <input type="submit" value="Zmień hasło" />
            </p>
        </fieldset>
    </div>
}
